//Type
$sans-serif:                        proxima-nova, sans-serif;
$serif:                             'Lora', serif;

//Colors
$titleColor:                        #232729;
$textColor:                         #42484D;
$textColorLight:                    #7D868E;
$borderColor:                       #EBECF0;
$white:                             #ffffff;
$homepageColor:                     #F8F9FC;
$linkColor:                         #006FEE;

//Depth
$shadow-base:                       0px 1px 3px rgba(0, 0, 0, 0.04), 0px 1px 2px rgba(0, 0, 0, 0.08);
$shadow-md:                         0px 2px 4px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.02);
$shadow-lg:                         0px 4px 6px rgba(0, 0, 0, 0.08), 0px 4px 4px rgba(0, 0, 0, 0.01);
$Shadow-xl:                         0px 10px 15px rgba(0, 0, 0, 0.12), 0px 20px 25px rgba(0, 0, 0, 0.01);

//Breakpoints
$breakpoint-mobile: "(min-width: 48em)";
$breakpoint-tablet: "(min-width: 64em)";
$breakpoint-desktop: "(min-width: 75em)";

//Mixins
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
