body {
  background: #EEF3F7;
  font-family: 'Open Sans', serif;
}

.hero {
  max-width: 750px;
  margin: auto;
  padding: 120px 20px;

  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 700;
  }

  p {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
  }

  ul {
    padding: 0;

    li {
      margin-right: 16px;
      display: inline-block;

      a {
        color: #006FEE;
        font-weight: 600;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}