---
title: Adnan Khan | Product Designer | United Kingdom &amp; Remote
layout: homepage
body_classes: homepage
---

<a name="work"></a>
<div class="block case-studies animated fadeIn">
  <div class="container">

    <h2>Highlights</h2>

    <article>
      <% link_to 'building-a-chrome-extension' do %>
        <div class="row middle-md">
          <div class="col-md-8">
            <div class="frame">
              <img src="images/extension/extension-index.png" alt="Litmus application redesign">
            </div>
          </div>
          <div class="col-md-3 col-md-offset-1">
            <div class="details">
              <h3>Building a Chrome Extension</h3>
              <div class="year">2018</div>
            </div>
          </div>
        </div><!-- row -->
      <% end %>
    </article>

      <article>
        <% link_to 'redesigning-the-litmus-application' do %>
          <div class="row middle-md">
            <div class="col-md-8">
              <div class="frame">
                <img src="images/litmus-redesign/litmus-redesign-index.png" alt="Litmus application redesign">
              </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <div class="details">
                <h3>Redesigning the Litmus Application</h3>
                <div class="year">2015 - 17’</div>
              </div>
            </div>
          </div><!-- row -->
        <% end %>
      </article>

      <article>
        <% link_to 'designing-a-slack-app' do %>
          <div class="row middle-md">
            <div class="col-md-8">
              <div class="frame">
                <img src="images/slack/slack-integration-index.png" alt="Designing a Slack Integration">
              </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <div class="details">
                <h3>Designing a Slack App</h3>
                <div class="year">2018’</div>
              </div>
            </div>
          </div><!-- row -->
        <% end %>
      </article>

      <article>
        <% link_to 'designing-for-a-conference' do %>
          <div class="row middle-md">
            <div class="col-md-8">
              <div class="frame">
                <img src="images/tedc/tedc-index.png" alt="Designing the Email Design Conference">
              </div>
            </div>
            <div class="col-md-3 col-md-offset-1">
              <div class="details">
                <h3>Designing for a Conference</h3>
                <div class="year">2016 - 17’</div>
              </div>
            </div>
          </div><!-- row -->
        <% end %>
      </article>

  </div><!-- /container -->
</div><!-- /block -->
